<!--<p>ex6 works!</p>-->

<!--User Id: <input type="number" #id ><br>-->
<!--<input type="button" (click)="getUser(id.value)" value="Get User">-->
<!--Name: {{user.name}} Email: {{user.email}}-->
<!--<input type="button" (click)="getAllUsers()" value="Get All User">-->
<!--<ul>-->
<!--  <li *ngFor="let user of users">{{user | json}}</li>-->
<!--</ul>-->
<!--<ul>-->
<!--  <li *ngFor="let task of tasks">{{task.title}}</li>-->
<!--</ul>-->
<!--<pre>-->
<!--  {{tasks | json}}-->
<!--</pre>-->
<!--<br>-->
<!--<h3>-->
<!--  {{userEmail}}-->
<!--</h3>-->
<hr>
<form name="apiUser" (ngSubmit)="submitToServer()" #f="ngForm">
  <input type="number" name="apiUserId" [(ngModel)]="apiUser.id" id=""> <input type="button" value="GetUser" (click)="getUser(apiUser.id)">

</form>
